other server can't use squid make https request

i am sorry i come here again,,

Now i deploy haipproxy on server A. I have other server B, i need B request server A, and get a agent ip.

after my test, i get this below:

run this same code:

import requests
proxies = {'https': 'http://myip:3128'}
resp = requests.get('https://httpbin.org/ip', proxies=proxies)
print(resp.text)

on server A, i can get a agent ip ( not same with my actually ip )
on server B, i can't get a agent ip and it raise exception like this:

requests.exceptions.ProxyError: HTTPSConnectionPool(host='httpbin.org', port=443): Max retries exceeded with url: /ip (Caused by ProxyError('Cannot connect to proxy.', NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x041155F0>: Failed to establish a new connection: [WinError 10060]

and when i change the code 
`proxies = {'https': 'http://myip:3128'}`
to
`proxies = {'http': 'http://myip:3128'}`
it return a ip on server B, but it is my real ip, not a agent ip, can you help me fix this ? 

my squid config like this:


acl localnet src servier_a_ip/8
acl localnet src server_b_ip/8
acl localnet src 10.0.0.0/8     # RFC1918 possible internal network
acl localnet src 172.16.0.0/12  # RFC1918 possible internal network
acl localnet src 192.168.0.0/16 # RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl CONNECT method CONNECT


http_access deny !Safe_ports

http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager

http_access allow localnet
http_access allow localhost

http_access deny all

http_port 3128

i also try to make a CA certificate and use https_port config, but it useless, everything not change, server b can't use https proxy.

thanks



I'm sorry but i think you should learn [ACL about squid](https://www.google.co.jp/search?q=acl+squid&oq=acl+squid&aqs=chrome..69i57j69i60l4j35i39.2550j0j7&sourceid=chrome&ie=UTF-8)! This project won't teach you how to config if you have special requirements. It cares only about the proxy pool and it's availablity.

BTW, [my blog](https://rookiefly.cn/detail/192) may be helpful, it's written in Chinese.



ok, thanks, i will read it